CONFIG_ARM=y
CONFIG_ARCH_RCM_ARM=y
CONFIG_TARGET_1879VM8YA=y
CONFIG_ARM_AMBA=y
CONFIG_MMC=y
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_MMC_SPI=y
CONFIG_SPI_PL022=y
CONFIG_NETDEVICES=y
CONFIG_NET=y
CONFIG_ETHERNET=y
CONFIG_GRETH=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_OF=y
CONFIG_OF_MDIO=y
CONFIG_HIGHMEM=y

CONFIG_EMBEDDED=y
CONFIG_VFP=y

CONFIG_DEBUG_INFO=y
CONFIG_GDB_SCRIPTS=y

CONFIG_MDIO_DEVICE=y
CONFIG_PHYLIB=y

CONFIG_TMPFS=y
CONFIG_NFS_FS=y
CONFIG_ROOT_NFS=y

CONFIG_SERIAL_PSEUDO_SPI=y

CONFIG_EASYNMC=y
CONFIG_EASYNMC_CORE_NMC3=y

CONFIG_CMA=y
CONFIG_DMA_CMA=y
CONFIG_CMA_DEBUGFS=y
CONFIG_ANDROID=y
CONFIG_STAGING=y
CONFIG_ION=y
CONFIG_ION_CMA_HEAP=y

CONFIG_AUTOFS_FS=y
CONFIG_CGROUPS=y
CONFIG_BPF_SYSCALL=y
CONFIG_CGROUP_BPF=y
CONFIG_IPV6=y
CONFIG_FANOTIFY=y
CONFIG_VFAT_FS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_EXT2_FS=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y

CONFIG_THERMAL=y
CONFIG_RCM_THERMAL=y

CONFIG_PCI=y
CONFIG_PCI_ENDPOINT=y
CONFIG_PCIE_CADENCE=y
CONFIG_RCM_PCIE_CADENCE_PLAT_EP=y

CONFIG_DMA_ENGINE=y
CONFIG_DMA_OF=y
CONFIG_DMADEVICES=y
CONFIG_RCM_CDNS_DMA=y
