config MTD_NAND_CORE
	tristate

source "drivers/mtd/nand/onenand/Kconfig"

source "drivers/mtd/nand/raw/Kconfig"


config MTD_RCM_NAND
    tristate "RC-Module SoC NAND support"
    depends on 1888TX018
    help
        Support for NAND flash attached to the 1888TX018 SoC's
