if ARCH_RCM_ARM

choice
	prompt "RC-Module board select"

config TARGET_1879VM8YA
	bool "Support 1879VM8YA based boards"
	select CACHE_L2X0
	select SPI
	select HAVE_PCI

config TARGET_1888BC048
	bool "Support 1888BC048 based boards"
	select CACHE_L2X0

endchoice

endif

