#
# Phy drivers for RC Module platforms
#
config PHY_RCMODULE_USB
	tristate "RC Module USB PHY driver"
	depends on PPC
	select GENERIC_PHY
	select USB_PHY
	help
	  Support for USB PHY found on RC Module PPC SoCs.
