CONFIG_44x=y
CONFIG_EBONY=n
# // ??? [small] CONFIG_SYSVIPC=y
# // ??? [small] CONFIG_POSIX_MQUEUE=y
# // ??? look at BASE_FULL
CONFIG_LOG_BUF_SHIFT=14
CONFIG_EXPERT=y
# // ??? [small] CONFIG_KALLSYMS_ALL=y
# // ??? [small] CONFIG_PROFILING=y
# // ??? [small] CONFIG_OPROFILE=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_PPC_47x=y
# ??? below
# // ??? CONFIG_1888TX018=y
CONFIG_1888BM18=y
# // ??? [small] CONFIG_CPU_FREQ=y
# // ??? [small] CONFIG_CPU_FREQ_RCM_1888TX018=y
# // ??? [small] CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=y
# // ??? [small] CONFIG_CPU_FREQ_GOV_USERSPACE=y
# // ??? [small] CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
# // ??? [small] CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
# // ??? [small] CONFIG_CPU_FREQ_GOV_ONDEMAND=y
# // ??? [small] CONFIG_CPU_FREQ_GOV_POWERSAVE=y
# // ??? [small] CONFIG_HIGHMEM=y
CONFIG_HZ_100=y
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE=""
CONFIG_NET=y
CONFIG_GRETH=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_UEVENT_HELPER_PATH="/sbin/hotplug"
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_CONNECTOR=y
# // ??? [small] CONFIG_MTD=y
# // ??? [small] CONFIG_MTD_BLOCK=y
# // ??? [small] CONFIG_MTD_JEDECPROBE=y
# // ??? [small] CONFIG_MTD_CFI_INTELEXT=y
# // ??? [small] CONFIG_MTD_CFI_AMDSTD=y
# // ??? [small] CONFIG_MTD_PHYSMAP=y
# // ??? [small] CONFIG_MTD_PHYSMAP_OF=y
CONFIG_ADVANCED_OPTIONS=y
CONFIG_PHYSICAL_START_BOOL=y
CONFIG_PHYSICAL_START=0x20000000
# // ??? [no pci] CONFIG_PAGE_OFFSET_BOOL=y
# // ???
# // ??? [no pci] CONFIG_PAGE_OFFSET=0x80000000
# // ??? [no pci] CONFIG_KERNEL_START_BOOL=y
# // ???
# // ??? [no pci] CONFIG_KERNEL_START=0x80000000
# // ??? [no pci] CONFIG_TASK_SIZE_BOOL=y
# // ???
# // ??? [no pci] CONFIG_TASK_SIZE=0x80000000
# // ??? [small] CONFIG_MTD_RCM_NOR=y
# // ??? [small] CONFIG_MTD_CFI=y
# // ???? [small] CONFIG_JFFS2_FS=y
# // ??? [small] CONFIG_MTD_UBI=y
# // ??? [small] CONFIG_UBIFS_FS=y
# // ??? [small] CONFIG_BLK_DEV_RAM=y
# // ??? [small] CONFIG_BLK_DEV_RAM_SIZE=35000
# // ??? [small] CONFIG_BLK_DEV_SD=y
CONFIG_NETDEVICES=y
# // ??? [no-pci] CONFIG_R8169=y
CONFIG_VT=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
# // ??? [wtf] CONFIG_SERIAL_OF_PLATFORM=y
# // ??? [small] CONFIG_SPI=y
# // ??? [small] CONFIG_SPI_PL022=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_PL061=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_SINGLE=y
# // ??? below [how-it-cab-be]
CONFIG_STRICT_KERNEL_RWX=y
# CONFIG_HW_RANDOM is not set
# // ??? [small] CONFIG_I2C=y
# // ??? [small] CONFIG_I2C_OCORES=y
# CONFIG_HWMON is not set
# // ??? [small] CONFIG_THERMAL=y
# // ??? [small] CONFIG_RCM_THERMAL=y
# // ??? [no-usb] CONFIG_USB=y
# // ??? [no-usb] CONFIG_USB_SUPPORT=y
# // ??? [no-usb] CONFIG_USB_EHCI_HCD=y
# // ??? [no-usb] CONFIG_USB_OHCI_HCD=y
# // ??? [no-usb] CONFIG_USB_MUSB_HDRC=y
# // ??? [no-usb] CONFIG_USB_MUSB_RCM=y
# // ??? [no-usb] CONFIG_USB_MUSB_DUAL_ROLE=y
# // ??? [no-usb] CONFIG_USB_INVENTRA_DMA=y
# // ??? [no-usb] CONFIG_PHY_RCM_USB=y
# // ??? [no-usb] CONFIG_USB_GADGET=m
# // ??? [no-usb] CONFIG_USB_MASS_STORAGE=m
# // ??? [no-usb] CONFIG_USB_STORAGE=y
# // ??? [no-usb] CONFIG_USB_G_SERIAL=m
# // ??? [small] CONFIG_SCSI=y
# // ??? [small] CONFIG_VFAT_FS=y
# // ??? [small] CONFIG_NLS_CODEPAGE_437=y
# // ??? [small] CONFIG_NLS_ISO8859_1=y
CONFIG_EXT2_FS=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_PROC_KCORE=y
CONFIG_TMPFS=y
# // ??? [small] CONFIG_CRAMFS=y
# // ??? [small] CONFIG_NFS_FS=y
# // ??? [small] CONFIG_NFS_V3_ACL=y
# // ??? [small] CONFIG_NFS_V4=y
# // ??? [small] CONFIG_NLS_DEFAULT="n"
# // ??? below [may-be]
CONFIG_DEBUG_INFO=y
# // ??? [small] CONFIG_MAGIC_SYSRQ=y
# // ??? [small] CONFIG_DETECT_HUNG_TASK=y
#CONFIG_XMON=n
#CONFIG_XMON_DEFAULT=n
CONFIG_PPC_EARLY_DEBUG=y
# // ??? CONFIG_PPC_EARLY_DEBUG_44x_PHYSLOW=0x3C05D000
# // ??? CONFIG_PPC_EARLY_DEBUG_44x_PHYSHIGH=0x010
CONFIG_PPC_EARLY_DEBUG_44x_PHYSLOW=0xC0029000
CONFIG_PPC_EARLY_DEBUG_44x_PHYSHIGH=0x020
# // ??? [small] CONFIG_CRYPTO_CBC=y
# // ??? [small] CONFIG_CRYPTO_ECB=y
# // ??? [small] CONFIG_CRYPTO_PCBC=y
# // ??? [small] CONFIG_CRYPTO_MD5=y
# // ??? [small] CONFIG_CRYPTO_DES=y
# // ??? [small] CONFIG_CRYPTO_RCM_RMACE=y
# // ??? [small] CONFIG_CRYPTO_USER=y
# // ??? [small] CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_MMC=y
CONFIG_MMC_RCM=y
# // ??? [small] CONFIG_RTC_CLASS=y
# // ??? [small] CONFIG_RTC_DRV_DS1307=y 
# // ??? [small] CONFIG_EASYNMC=y
# // ??? [small] CONFIG_EASYNMC_CORE_NMC3=y
# // ??? [small] CONFIG_EASYNMC_CORE_TEST=m
CONFIG_GPIO_SYSFS=y
# // ??? [no-pci] CONFIG_PCI_MSI=y
# // ??? [no-pci] CONFIG_PCI_MSI_IRQ_DOMAIN=y
# // ??? [small] CONFIG_SRAM=y
# // ??? [no-pci] CONFIG_PCI=y
# // ??? [no-pci] CONFIG_PCIE_RCM_NWL=y
# // ??? [small] CONFIG_MTD_NAND=y
# // ??? [small] CONFIG_MTD_RAW_NAND=y
# // ??? [small] CONFIG_MTD_RCM_NAND=y
# // ??? [small] CONFIG_DMADEVICES=y
# // ??? [small] CONFIG_SOUND=y
# // ??? [small] CONFIG_SND=y
# // ??? [small] CONFIG_SND_SOC=y
# // ??? [small] CONFIG_SND_SOC_RCM=y
# // ??? [small] CONFIG_SND_SOC_RCM_I2S=y
# // ??? [small] CONFIG_SND_SOC_RCM_SPDIF=y
# // ??? [small] CONFIG_SND_SOC_CS4384=y
# // ??? [small] CONFIG_FB=y
# // ??? [small] CONFIG_FB_RCM_VDU=y
# // ??? [small] CONFIG_RCM_CODA_J10=y
# // ??? [small] CONFIG_MEDIA_SUPPORT=y
# // ??? [small] CONFIG_MEDIA_CAMERA_SUPPORT=y
# // ??? [small] CONFIG_V4L_PLATFORM_DRIVERS=y
# // ??? [small] CONFIG_RCM_VDU_VIDEO=y
# // ??? [small] CONFIG_RCM_VPU_CODA980=y
# // ??? [small] CONFIG_CMA=y
# // ??? [small] CONFIG_DMA_CMA=y
# // ??? [small] CONFIG_CMA_DEBUGFS=y
# CONFIG_CMA_DEBUG=y # enable for debug
# // ??? [small] CONFIG_CGROUPS=y
# // ??? [small] CONFIG_RCM_VDU_GRABBER=y
# [***] EasyNMC prototype
# // ??? [small] CONFIG_ANDROID=y
# // ??? [small] CONFIG_STAGING=y
# // ??? [small] CONFIG_ION=y
# // ??? [small] CONFIG_ION_CMA_HEAP=y

# [***] SATA support
# // ??? [small] CONFIG_ATA=y
# // ??? [small] CONFIG_SATA_AHCI=y

CONFIG_VM_EVENT_COUNTERS=n
CONFIG_SLUB_DEBUG=n
CONFIG_COREDUMP=n
CONFIG_WLAN=n
CONFIG_INPUT_MOUSE=n
CONFIG_UNIX98_PTYS=n
CONFIG_LEGACY_PTYS=n
CONFIG_DEVMEM=n
CONFIG_NVRAM=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
