/*
 * Device Tree Source for RCM 1888BM18 platform
 *
 * Copyright (C) 2020 MIR
 *	Mikhail.Petrov@mir.dev
 *
 * SPDX-License-Identifier: GPL-2.0+
 */

/include/ "1888bm18.dtsi"

/ {
	model = "rcm,1888bm18";
	compatible = "rcm,1888bm18";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		mmc0 = &mmc0;
	};

	plb {

		lsif {
	 		uart0: uart0@C0029000 {
	 			status = "ok";
	 		};

	 		uart1: uart1@C0039000 {
	 			status = "ok";
	 		};

			gpio0: gpio0@C0028000 {
				status = "ok";
			};

			gpio1: gpio1@C0038000 {
				status = "ok";
			};

	 		mmc0: mmc0@C002C000 {
	 			status = "ok";
	 			cd-gpios = <&gpio0 3 0>; // card detect
	 		};
		};
	};

	chosen {
		stdout-path = &uart0;
	};
};
