/*
 * Device Tree Source for RC-Module TX011 platform
 *
 * Copyright © 2019 Alexey Spirkov <alexeis@astrosoft.ru>
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2.  This program is licensed "as is" without
 * any warranty of any kind, whether express or implied.
 */

/include/ "mpw7705.dtsi"

/ {
	model = "rc-module,mpw7705";
	compatible = "rc-module,mpw7705";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		mmc0 = &mmc0;
	};

	plb {
		lsif0 {
			greth1: greth1@0x3C034000 {
				mac-address = [ EC 17 66 77 05 02 ];
				status = "ok";
			};
			
		};

		lsif1 {						
			i2c0: i2c@0x3C05A000 {
				status = "ok";
				rtc@68 {
					compatible = "dallas,ds1338";
					reg = <0x68>;
				};
			};						

			uart0: uart0@3C05D000 {
				status = "ok";
			};

			uart1: uart2@3C05E000 {
				status = "ok";
			};

			uart2: uart3@3C05F000 {
				status = "ok";
			};

			spi0: spi0@0x3C061000 {
				status = "ok";

				spi_flash@0 {
					compatible = "st,m25p32", "spi-flash";
					reg = <0>;
					spi-max-frequency = <20000000>;
				};
				
			};			

			mmc0: mmc0@0x3C064000 {
				min-frequency = <1000000>; 
				max-frequency = <4000000>; 
				status = "ok";
			};

			gpio0: gpio0@0x3C065000 {
				status = "ok";
			};

			gpio1: gpio1@0x3C066000 {
				status = "ok";
			};

			usb_otg_hs: usb_otg_hs@0x3C06D000 {
				mode = <3>;			/* 1 - host, 2 - device, 3 - otg */
				status = "ok";
			};			
		};		
		
		apb0 {
			thermal: thermal@0x38003000 {
				status = "ok";
			};

			cpufreq: cpufreq@0x38006000 {
				/*	     freq       fb  pre post div	*/
				freqs = <200000     32  1   2   0>,
						<400000     32  1   1   0>,
						<800000     64  1   1   0>;

				status = "ok";
			};
		};

		dspcores {
			nmc3_0_core0: nmc3_0_core0@0x39000000 {
				core-name = "K1879-nmc";
				status = "ok";
			};
			nmc3_0_core1: nmc3_0_core1@0x39020000 {
				core-name = "K1879-nmc";
				status = "ok";
			};
			nmc3_1_core0: nmc3_1_core0@0x39040000 {
				core-name = "K1879-nmc";
				status = "ok";
			};
			nmc3_1_core1: nmc3_1_core1@0x39060000 {
				core-name = "K1879-nmc";
				status = "ok";
			};
		};
	};

	thermal-zones {
			cpu-thermal {
					polling-delay-passive = <0>;
					polling-delay =  <1000>; 
					thermal-sensors = <&thermal>;
					
					trips {
							cpu-crit {
									temperature     = <100000>;
									hysteresis      = <0>;
									type            = "critical";
							};
					};

					cooling-maps {
					};
			};
	};

	chosen {
		stdout-path = &uart0;
	};
};
