/*
 * Device Tree Source for IBM Embedded PPC 476 Platform
 *
 * Copyright © 2011 Tony Breeds IBM Corporation
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2.  This program is licensed "as is" without
 * any warranty of any kind, whether express or implied.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "rc-module,mpw7705";
	compatible = "rc-module,mpw7705";
	dcr-parent = <&{/cpus/cpu@0}>;

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		mmc0 = &mmc0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			model = "PowerPC,470S";
			reg = <0>;
			clock-frequency = <500000000>; // 500 Mhz
			timebase-frequency = <500000000>; // 500Mhz
			i-cache-line-size = <32>;
			d-cache-line-size = <32>;
			i-cache-size = <32768>;
			d-cache-size = <32768>;
			dcr-controller;
			dcr-access-method = "native";
			status = "ok";
		};
		cpu@1 {
			device_type = "cpu";
			model = "PowerPC,470S";
			reg = <1>;
			clock-frequency = <50000000>; // 500 Mhz
			timebase-frequency = <500000000>; // 500Mhz
			i-cache-line-size = <32>;
			d-cache-line-size = <32>;
			i-cache-size = <32768>;
			d-cache-size = <32768>;
			dcr-controller;
			dcr-access-method = "native";
			status = "ok";
			enable-method = "spin-table";
			cpu-release-addr = <0x010 0x0007FFE0>; 

		};
	};

	memory {
		device_type = "memory";	
		reg = <0x00000000 0x00000000 0x00000000 0x80000000   // 2Gb at 0	
		>;  
	};

/*	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;

		dma_common_memory: dma_common_memory@0x10000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x10000000 0x00000000 0x800000>;
			alignment = <0x10000>;
		};
	};	
*/
	lsif1clock: lsif1clock@100M {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <100000000>;
	};

	pclk: pclk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <250000000>;
	};


	MPIC: interrupt-controller {
		compatible = "chrp,open-pic";
		interrupt-controller;
		dcr-reg = <0xffc00000 0x00040000>; 
		#address-cells = <0>;
		#size-cells = <0>;
		#interrupt-cells = <2>;
	};

	plb {
		compatible = "ibm,plb6";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		dma-ranges;
		clock-frequency = <250000000>; // 250Mhz

		lsif0 {
			compatible = "arm,amba-bus", "ibm,plb6";
			#address-cells = <1>;
			#size-cells = <1>;

			ranges = <0x3c030000 			/* from */
					  0x010 0x3c030000 		/* to */
					  0x00020000>;			/* size */

			clock-frequency = <100000000>;

			mgpio0: mgpio0@0x3C040420 {
				compatible = "pinctrl-single";
				reg = <0x3C040420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;


				spi0_mux: spi0_mux_pinmux {
					pinctrl-single,bits = <0 0x7 0x7>;	/* register == afsel, value, mask */
				};

				uart0_mux: uart0_mux_pinmux {
					pinctrl-single,bits = <0 0x30 0x30>;	
				};

				uart1_mux: uart1_mux_pinmux {
					pinctrl-single,bits = <0 0xc0 0xc0>;	
				};


			};


			gpio0: gpio0@0x3C03B000 {
				#gpio-cells = <2>;
				compatible = "arm,pl061", "arm,primecell";
				gpio-controller;
				reg = <0x3C03B000 0x1000>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&MPIC>;
				interrupts = <106 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&pclk>;
				clock-names = "apb_pclk";
				
			};

			gpio1: gpio1@0x3C03C000 {
				#gpio-cells = <2>;
				compatible = "arm,pl061", "arm,primecell";
				gpio-controller;
				reg = <0x3C03C000 0x1000>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&MPIC>;
				interrupts = <107 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&pclk>;
				clock-names = "apb_pclk";				
			};

			spi0: spi0@0x3C03E000 {
				compatible = "arm,pl022", "arm,primecell";
				reg = <0x3C03E000 0x1000>;
				interrupts = <100 IRQ_TYPE_EDGE_FALLING>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupt-parent = <&MPIC>;
				clocks = <&pclk>;
				clock-names = "apb_pclk";
				pinctrl-names = "default";
				pinctrl-0 = <&spi0_mux>;
				num-cs = <1>;
				cs-gpios = <&gpio1 2 0>;


				spi_flash@0 {
					compatible = "st,m25p32", "spi-flash";
					reg = <0>;
					spi-max-frequency = <20000000>;
				};
				
			};


			uart0: uart0@3C034000 {
				compatible = "arm,pl011", "arm,primecell";
				reg = <0x3C034000 0x1000>;
				clocks = <&lsif1clock>, <&pclk>;
				clock-names = "uartclk", "apb_pclk";
				pinctrl-names = "default";
				pinctrl-0 = <&uart0_mux>;				
				interrupt-parent = <&MPIC>;
				interrupts = <101 IRQ_TYPE_LEVEL_HIGH>;
				status = "ok";
			};

			uart1: uart1@3C035000 {
				compatible = "arm,pl011", "arm,primecell";
				reg = <0x3C035000 0x1000>;
				clocks = <&lsif1clock>, <&pclk>;
				clock-names = "uartclk", "apb_pclk";
				pinctrl-names = "default";
				pinctrl-0 = <&uart1_mux>;
				interrupt-parent = <&MPIC>;
				interrupts = <102 IRQ_TYPE_LEVEL_HIGH>;
				status = "ok";
			};

			i2c0: i2c@0x3C03D000 {
				compatible = "rc-module,i2cmst";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x3C03D000 0x1000>;
				clocks = <&lsif1clock>;
				reg-shift = <2>;
				reg-io-width = <4>;
				interrupt-parent = <&MPIC>;
				interrupts = <99 IRQ_TYPE_LEVEL_HIGH>;
				
				rtc@68 {
					compatible = "dallas,ds1338";
					reg = <0x68>;
				};
			};
			
		};

		lsif1 {
			compatible = "arm,amba-bus", "ibm,plb6";
			#address-cells = <1>;
			#size-cells = <1>;

			ranges = <0x3c050000 			/* from */
					  0x010 0x3c050000 		/* to */
					  0x00020000>;			/* size */

			dma-ranges = <0x40000000 0x00000000 0x00000000 0x40000000>;
			clock-frequency = <100000000>;


			mgpio0_1: mgpio0_1@0x3C060420 {
				compatible = "pinctrl-single";
				reg = <0x3C060420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;
				status = "ok";

				greth0_0mux: greth0_0mux_pinmux {
					pinctrl-single,bits = <0 0xff 0xff>;	/* register == afsel, value, mask */
				};
			};

			mgpio1_1: mgpio1_1@0x3C061420 {
				compatible = "pinctrl-single";
				reg = <0x3C061420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;
				status = "ok";
				

				greth0_1mux: greth0_1mux_pinmux {
					pinctrl-single,bits = <0 0xff 0xff>;	/* register == afsel, value, mask */
				};
			};

			mgpio2_1: mgpio2_1@0x3C062420 {
				compatible = "pinctrl-single";
				reg = <0x3C062420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;
				status = "ok";


				greth0_2mux: greth0_2mux_pinmux {
					pinctrl-single,bits = <0 0xff 0xff>;	/* register == afsel, value, mask */
				};
			};

			mgpio3_1: mgpio3_1@0x3C063420 {
				compatible = "pinctrl-single";
				reg = <0x3C063420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;

				spi1_mux: spi1_mux_pinmux {
					pinctrl-single,bits = <0 0x07 0x07>;	
				};

				greth1_0mux: greth1_0mux_pinmux {
					pinctrl-single,bits = <0 0xf8 0xf8>;	
				};
			};

			mgpio4_1: mgpio4_1@0x3C064420 {
				compatible = "pinctrl-single";
				reg = <0x3C064420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;

				greth1_1mux: greth1_1mux_pinmux {
					pinctrl-single,bits = <0 0xff 0xff>;
				};
			};

			mgpio5_1: mgpio5_1@0x3C065420 {
				compatible = "pinctrl-single";
				reg = <0x3C065420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;

				greth1_2mux: greth1_2mux_pinmux {
					pinctrl-single,bits = <0 0xff 0xff>;
				};
			};

			mgpio6_1: mgpio6_1@0x3C066420 {
				compatible = "pinctrl-single";
				reg = <0x3C066420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;

				greth1_3mux: greth1_3mux_pinmux {
					pinctrl-single,bits = <0 0x07 0x07>;
				};

				uart2_mux: uart2_mux_pinmux {
					pinctrl-single,bits = <0 0x18 0x18>;
				};
			};

			mgpio7_1: mgpio6_1@0x3C067420 {
				compatible = "pinctrl-single";
				reg = <0x3C067420 1>;
				pinctrl-single,register-width = <8>;
				pinctrl-single,function-mask = <0x1>;
				#address-cells = <1>;
				#size-cells = <0>;
				#pinctrl-cells = <2>;
				pinctrl-single,bit-per-mux;

				sdio_mux: sdio_mux_pinmux {
					pinctrl-single,bits = <0 0x1f 0x1f>;
				};
			};

			mmc0: mmc0@0x3C06A000 {
				compatible = "rc-module,mpw7705", "rc-module,mmc-0.2";
				reg = <0x3C06A000 0x1000>;
				interrupt-parent = <&MPIC>;
				interrupts = <67 IRQ_TYPE_LEVEL_HIGH>;
				pinctrl-names = "default";
				pinctrl-0 = <&sdio_mux>;
				clocks = <&lsif1clock>;
				max-frequency = <4000000>; 
				clock-names = "mmc";
				status = "ok";
			};


			spi1: spi1@0x3C05A000 {
				compatible = "arm,pl022", "arm,primecell";
				reg = <0x3C05A000 0x1000>;
				interrupts = <73 IRQ_TYPE_LEVEL_HIGH>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupt-parent = <&MPIC>;
				clocks = <&pclk>;
				clock-names = "apb_pclk";
				pinctrl-names = "default";
				pinctrl-0 = <&spi1_mux>;
				num-cs = <1>;
				cs-gpios = <&gpio1 3 0>;

				sdcard0: sdcard@0 {
					compatible = "mmc-spi-slot";
					reg = <0>;			
					spi-max-frequency = <20000000>;
					voltage-ranges = <3200 3400>;
					mode = <0>;
					broken-cd;
					
					pl022,hierarchy = <0>;			/* SSP_MASTER */
					pl022,interface = <0>;			/* SSP_INTERFACE_MOTOROLA_SPI */
					pl022,com-mode = <0x0>;			/* INTERRUPT_TRANSFER */
					pl022,rx-level-trig = <0>;		/* SSP_RX_1_OR_MORE_ELEM */
					pl022,tx-level-trig = <0>; 		/* SSP_TX_1_OR_MORE_EMPTY_LOC */

					status = "disabled";
				};				
			};

			usb2_phy: usb2_phy@0x3C05E000
			{
				compatible = "rc-module,usbphy2";
				reg = <0x3C05E02C 0x4>;
				#phy-cells = <0>;
			};			

			usb_otg_hs: usb_otg_hs@0x3C052000 {
				compatible = "rc-module,musb";
				reg = <0x3C052000 0x7ff>;
				interrupt-parent = <&MPIC>;
				interrupts = <69 IRQ_TYPE_LEVEL_HIGH>, <70 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "mc", "dma";
				usb-phy = <&usb2_phy>;
				phys = <&usb2_phy>;
				phy-names = "usb2-phy";

				/* select clock to 24mhz
				 * set bit 10 - USBPHY_REFCLK_SEL */				
				sctl = <&sctl>;
				sctl-reg = <8>, <10>, <1>;	/* reg, offset, bit */

				multipoint = <1>;
				num-eps = <16>;
				ram-bits = <12>;
				mode = <2>;
				power = <500>;
				status = "ok";
			};			

			greth0: greth0@0x3C050000 {
				compatible = "rc-module,greth";
				reg = <0x3C050000 0x1000
					   0x3C05E01C 0x4>;				/* extended DMA address bits */
				interrupt-parent = <&MPIC>;
				interrupts = <63 IRQ_TYPE_LEVEL_HIGH>;
				mac-address = [ EC 17 66 77 05 01 ];
				pinctrl-names = "default";
				pinctrl-0 = <&greth0_0mux>, <&greth0_1mux>, <&greth0_2mux>;
			};

			greth1: greth1@0x3C051000 {
				compatible = "rc-module,greth";
				reg = <0x3C051000 0x1000
					   0x3C05E020 0x4>;				/* extended DMA address bits */
				interrupt-parent = <&MPIC>;
				interrupts = <64 IRQ_TYPE_LEVEL_HIGH>;
				mac-address = [ EC 17 66 77 05 02 ];
				pinctrl-names = "default";
				pinctrl-0 = <&greth1_0mux>, <&greth1_1mux>, <&greth1_2mux>, <&greth1_3mux>;
			};
		};		
		
		apb0 {
			compatible = "ibm,apb";
			#address-cells = <1>;
			#size-cells = <1>;

			ranges = <0x38000000 0x010 0x38000000 0x00010000>; 

			sctl: sctl@0x38000000
			{
				reg = <0x38000000 0x1000>;
			};

			thermal: thermal@0x38003000 {
				compatible = "rc-module,thermal";
				reg = <0x38003000 0x1000>;
				#thermal-sensor-cells = <0>;

				interrupt-parent = <&MPIC>;
				interrupts = <32 IRQ_TYPE_LEVEL_HIGH	/* temperature IRQ */
							  33 IRQ_TYPE_LEVEL_HIGH>;	/* voltage IRQ */
			};

			cpufreq: cpufreq@0x38006000 {
				compatible = "rc-module,cpu-freq";
				reg = <0x38006000 0x1000>;
				status = "ok";
			};
		};

		apb1 {
			compatible = "ibm,apb";
			#address-cells = <1>;
			#size-cells = <1>;

			ranges = <0x38010000 0x010 0x38010000 0x00010000>; 

		};

		dspcores {
			compatible = "ibm,apb";	 /* to check bus type */
			#address-cells = <1>;
			#size-cells = <1>;

			ranges = <0x38FFC000 0x010 0x38FFC000 0x000840000>; 


			nmc3_0_core0: nmc3_0_core0@0x39000000 {
				compatible = "rc-module,easynmc";
				core-name = "nmcore0_0";
				core-type = "nmc3";
				device-id = <0>;
				reg =   
					<0x39000000 0x00020000>, 
					<0x38FFC010 0x4>,
					<0x38FFC004 0x4>,
					<0x38FFC034 0x4>,
					<0x38FFC030 0x4>,
					<0x38FFC038 0x4>,
					<0x38FFC03C 0x4>;
				reg-names = 
						"imem",
						"reset_reg",
						"nmi_reg",
						"hp_clr_reg",
						"lp_clr_reg",
						"hp_set_reg",
						"lp_set_reg";
				interrupt-parent = <&MPIC>;
				interrupts = <39 IRQ_TYPE_LEVEL_HIGH>, <41 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "hp", "lp";		
				status = "disabled";
			};
			nmc3_0_core1: nmc3_0_core1@0x39020000 {
				compatible = "rc-module,easynmc";
				core-name = "nmcore0_1";
				core-type = "nmc3";
				device-id = <1>;
				reg =   
					<0x39020000 0x00020000>, 
					<0x38FFD010 0x4>,
					<0x38FFD004 0x4>,
					<0x38FFD034 0x4>,
					<0x38FFD030 0x4>,
					<0x38FFD038 0x4>,
					<0x38FFD03C 0x4>;
				reg-names = 
						"imem",
						"reset_reg",
						"nmi_reg",
						"hp_clr_reg",
						"lp_clr_reg",
						"hp_set_reg",
						"lp_set_reg";
				interrupt-parent = <&MPIC>;
				interrupts = <40 IRQ_TYPE_LEVEL_HIGH>, <42 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "hp", "lp";		
				status = "disabled";
			};
			nmc3_1_core0: nmc3_1_core0@0x39040000 {
				compatible = "rc-module,easynmc";
				core-name = "nmcore1_0";
				core-type = "nmc3";
				device-id = <2>;
				reg =   
					<0x39040000 0x00020000>, 
					<0x38FFE010 0x4>,
					<0x38FFE004 0x4>,
					<0x38FFE034 0x4>,
					<0x38FFE030 0x4>,
					<0x38FFE038 0x4>,
					<0x38FFE03C 0x4>;
				reg-names = 
						"imem",
						"reset_reg",
						"nmi_reg",
						"hp_clr_reg",
						"lp_clr_reg",
						"hp_set_reg",
						"lp_set_reg";
				interrupt-parent = <&MPIC>;
				interrupts = <43 IRQ_TYPE_LEVEL_HIGH>, <45 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "hp", "lp";		
				status = "disabled";
			};
			nmc3_1_core1: nmc3_1_core1@0x39060000 {
				compatible = "rc-module,easynmc";
				core-name = "nmcore1_1";
				core-type = "nmc3";
				device-id = <3>;
				reg =   
					<0x39060000 0x00020000>, 
					<0x38FFF010 0x4>,
					<0x38FFF004 0x4>,
					<0x38FFF034 0x4>,
					<0x38FFF030 0x4>,
					<0x38FFF038 0x4>,
					<0x38FFF03C 0x4>;
				reg-names = 
						"imem",
						"reset_reg",
						"nmi_reg",
						"hp_clr_reg",
						"lp_clr_reg",
						"hp_set_reg",
						"lp_set_reg";
				interrupt-parent = <&MPIC>;
				interrupts = <44 IRQ_TYPE_LEVEL_HIGH>, <46 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "hp", "lp";		
				status = "disabled";
			};
		};
	};

	thermal-zones {
			cpu-thermal {
					polling-delay-passive = <0>;
					polling-delay =  <1000>; 
					thermal-sensors = <&thermal>;
					
					trips {
							cpu-crit {
									temperature     = <100000>;
									hysteresis      = <0>;
									type            = "critical";
							};
					};

					cooling-maps {
					};
			};
	};

	chosen {
		linux,stdout-path = &uart0;
	};
};
